<ion-content [fullscreen] color="light" id="seletor">

  <svg id="bolas-shadow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#8982FF" fill-opacity="0.5" d="M0,128L80,154.7C160,181,320,235,480,234.7C640,235,800,181,960,160C1120,139,1280,149,1360,154.7L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
  <svg id="bolas" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#6C63FF" fill-opacity="1" d="M0,128L80,154.7C160,181,320,235,480,234.7C640,235,800,181,960,160C1120,139,1280,149,1360,154.7L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>

  <div id="container">
    <a id="back-a" href="#" routerLink="/home">
      <ion-icon id="back" name="chevron-back-circle-outline"></ion-icon>
    </a>

    <ion-grid>
      <h1>Uma nova forma de se conectar...</h1>

      
        


      <ion-card>
        <form class="content-login">
          <ion-list>
            <ion-item>
              <ion-label for="email" position="floating">Email:</ion-label>
              <ion-input #email name="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Senha:</ion-label>
              <ion-input #password type="password" name="password"></ion-input>
            </ion-item>
            <ion-item id="lap" lines="none">
              <a id="esqueceu-senh" href="#">Esqueceu a senha?</a>
            </ion-item>
            <hr>
            <ion-item lines="none">
              <ion-button expand="block" type="submit" (click)="logIn(email, password)" id="loginbtn" color="primary"
                size="medium" mode="ios">Entrar</ion-button>
            </ion-item>

          </ion-list>
        </form>
      </ion-card>
    </ion-grid>
  </div>

</ion-content>

<ion-footer id="seletor" translucent="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>2020 ©LeagueFriends Company</ion-title>
  </ion-toolbar>

</ion-footer>