#back {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: black;
}

ion-card {
    border-radius: 10px;
    max-width: 25rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 12rem;
}

ion-card-title {
    text-align: center;
}

#loginbtn {
    border: solid 2px rgb(0, 195, 255);
    border-radius: 5px;
}