ion-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 28px;
}

a {
    color: black;
    font-size: 3rem;
}

ion-content {
    text-align: center;
}

.container {
    margin-top: 2rem;
}