#footer-toolbar {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

#container {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 18rem;
}

#btnfooter {
  width: 23rem;
}

#button-deck {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}


#seletor {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#waves {
  position: absolute;
  top: 0;
}

#waves-shadow {
  margin-top: 1rem;
}

ion-toolbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 0.5rem;
  height: 0.5rem !important;
}

#jinx {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 600px;
}