#footer-toolbar {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

#container {
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 18rem;
  
}

#btnfooter {
  width: 23rem;
}

#button-deck {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}


#seletor {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#waves {
  position: absolute;
  top: 0;
}

ion-toolbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 2rem;
}